/* app css stylesheet */
@@import "components/rating-history/rating-history.component.css"

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.avatar {
  height: 100px;
  width: 100px;
}

#info_container {
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 10px 0;
}

.view_container {
  position: relative;
}
