<div id="profile_view">
  <ul class="profile_container">
    <li class="profile ng-hide" ng-show="$ctrl.active === profile" ng-repeat="profile in $ctrl.profiles">
      <img class="avatar" ng-src="{{profile.avatar}}"/>
      <div class="name">{{profile.name}}</div>
      <div class="description">{{profile.occupation}}</div>
      <div class="bio">{{profile.bio}}</div>
    </li>
  </ul>
<div class="rating-title">
Rating:
</div>
  <div class="rating" ng-mouseleave="$ctrl.over=false">
    <i ng-repeat="n in [1,2,3,4,5]" ng-click="$ctrl.setRating(n)" ng-mouseover="$ctrl.over=n"
     ng-class="{'icon-star-empty': !$ctrl.over || n > $ctrl.over}" class="star icon-large icon-star"></i>
  </div>
</div>
