#profile_view {
  border: 1px solid gray;
  width: 400px;
  padding: 20px;
}
.profile_container {
  height: 250px;
  list-style: none;
  margin: 0;
  position: relative;
}
.profile {
  position: absolute;
  top: 0;
  transition: all linear 1s;
}

.profile.ng-hide {
  opacity: 0;
}

.rating {
  text-align: center;
}

.rating-title {
  text-align: center;
}

.star.icon-star, .star.icon-star-empty {
    color: gold;
}

.star {
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

.rating .star {
    cursor: pointer;
}

.rating .icon-star:hover ~ .icon-star::before
{
  content: "\f006";
}

#notification {
  display: inline-block;
  border: 1px solid gray;
  padding: 0 10px;
}
