.profile_container {
  height: 250px;
  list-style: none;
  margin: 0;
  position: relative;
}
.profile {
  position: absolute;
  top: 0;
  transition: all linear 1s;
}

.profile.ng-hide {
  opacity: 0;
}
